*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: #e19999;}
h1{
    color: rgb(10, 10, 150);
    font-size:50px;
    font-weight: medium;
}
h2{
    color: red;
    font-size: 50px;
    font-weight: 700;
}
p{
    color: #3c6605;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 12px;
}
img{border: 3px dotted blue;}

.menu ul{
    display: flex;
    width: 100%;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

table td.content table td:nth-child(4) img{
    width: 160px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: red;
}

.about ul>li:nth-child(1){font-variant: small-caps;}
.about ol>li{font-variant: normal;}
.about ol>li:nth-child(1){font-weight: 100;}
.about ol>li:nth-child(2){font-weight: 300;}
.about ol>li:nth-child(3){font-size: 15px;}
.about ol>li:nth-child(4){font-size: 20px;}
.about ol>li:nth-child(5){color: #eb0606}
.about ul>li:nth-child(2){color: rgba(27, 112, 56, 0.2)}
.about ul>li:nth-child(3){font: italic normal 700 15px "Roboto"}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    font-size: 15px;
    font-family: 
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
    color: rgb(104, 10, 77);
    text-decoration: underline;
}
a:hover{
    color: rgb(34, 73, 34);
    text-decoration: none;
}
.menu{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-link, .menu-link:visited{
    color: rgb(196, 209, 12);
    text-decoration: none;
    transition: color .3s ease-out;
}
.vertical-menu a.menu-link{
    color: rgb(194, 25, 25)
}
.vertical-menu a.menu-link:hover,
.menu-link:hover{
    color: red;
}
.vertical-menu{
    display: flex;
    flex-direction: column;
    background-color: #d5f58c;
    width: 100px;
}
.content-col{
    display: flex;
}
.menu, footer{
    background-color: rgb(39, 96, 187);
}
footer{
    height: 100px;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
label{
    margin-bottom: 5px;
}
input{
    margin-left: 5px;
}
.labelOrder{
    display: flex;
    flex-direction: column;
}
input[type=number]{
    width: 32px;
}
.calculation{
    display: flex;
    width: 280px;
    justify-content: space-between;
}
input[type=checkbox]{
    margin-right: 5px;
    margin-left: 0;
}
input[type=submit]{
    margin-left: 0;
}
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=text]:focus,
select:focus
{
    outline: 1px solid red;
    outline-offset: -1px;
}

.content table{
    border: 1px solid rgb(0, 0, 0);
    border-spacing: 0;
}
.content table td{
    border: 1px solid #000;
    word-break: break-word;
    font-size: 12px;
}
.content table tr:nth-child(1) td:nth-child(1){
    width: 25px;
}
.content table tr:nth-child(1) td:nth-child(2){
    width: 200px;
}
.content table tr:nth-child(1) td:nth-child(3){
    width: 100px;
}
.content table tr:nth-child(2) td:nth-child(1){
    width: 55px;
}
.content table tr:nth-child(1),
.content table tr:nth-child(2),
.content table tr:nth-child(3),
.content table tr:nth-child(4){
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}
.content table tr:nth-last-child(1) td:nth-child(1){
    text-align: right;
    font-weight: 700;
}